{% with title = title %} {% include "header.html" %} {% endwith %}

<h1 style="text-align: center; margin-top: 20px">{% if edit_mode %} Edit {% else %} Add {% endif %} Tracker</h1>

{% if form %}
{% for field , errors in form.errors.items() %}
<div class="alert alert-error">
    {{ form[field].label }} : {{', '.join(errors)}}
</div>
{% endfor %}
{% endif %}

{% if edit_mode %}
<form class="shadow-lg p-3 mb-5 " style="width:25% ; height:60%; text-align:center ;margin:auto;" action="/tracker/{{tracker['id']}}/edit" method="POST" name="edit_tracker_form" id="edit_tracker_form">

{% else %}
<div class="shadow-lg p-3 mb-5 bg-body rounded position-absolute top-50 start-50 translate-middle" style="width:25% ; height:60%; text-align:center ; ">
    <form action="/tracker/add" method="POST" name="add_tracker_form" id="add_tracker_form">
    {% endif %}
        <div class = "form-group">
        <p>
            <label for="tname">Tracker Name </label> <input class = "form-control" id="tname" name="tname" required minlength="5" maxlength="55" type="text" value="{% if retry %}{{form.tname.data}}{% elif edit_mode %}{{tracker['name']}}{% endif %}">
        </p>
        </div>
    
        <div class="form-group">
        <p>
            <label for="tdescription">Description </label> <textarea class = "form-control" id="tdescription" name="tdescription" maxlength="255" type="text">{% if retry %}{{form.tdescription.data}}{% elif edit_mode %}{{tracker['description']}}{% endif %}</textarea>
        </p>
        </div>
    
        <div class="form-group">
        <p>
            <label for="ttype">Tracker Type</label>
            
            <select class="form-select" name="ttype" id="ttype" required>
                {% if retry %}
                    {% if form.ttype.data != '' %}
                        <option value="{{form.ttype.data}}" selected hidden>{% if form.ttype.data == 'ms' %}Multi-Select Choices{% elif form.ttype.data == 'float' %}Numerical (Decimal){% else %}Numerical (integer){% endif %}</option>
                    {% endif %}
                {% elif edit_mode %}
                    {% if tracker['type'] != '' %}
                        <option value="{{tracker['type']}}" selected hidden>{% if tracker['type'] == 'ms' %}Multi-Select Choices{% elif tracker['type'] == 'float' %}Numerical (Decimal){% else %}Numerical (integer){% endif %}</option>
                    {% endif %}
                {% endif %}
                <option value="integer">Numerical (integer)</option>
                <option value="float">Numerical (Decimal)</option>
                <option value="ms">Multi-Select Choices</option>
            </select>
        
        </p>
    
    
        {% if edit_mode and tracker['type'] == 'ms' %}
        {% for i in tracker['choices'] %}
        <p class="tce">
            <label for="tchoices_edit">Choice {{loop.index}}</label>
            <input name="tchoices_edit{{i[0]}}" id="tchoices_edit" value="{{i[1]}}">
        </p>
        {% endfor %}
        {% endif %}
        
        <p id='tchoiceblock'>
            <label for="tchoices">{% if edit_mode %} Add {% endif %}choices (Press Enter to enter new choice)</label>
            <textarea name="tchoices" id="tchoices">{% if retry %}{{form.tchoices.data}}{% endif %}</textarea>
        </p>
    
    
        
        {% if edit_mode %}
            <input name="tid" id="tid" type="hidden" value="{{tracker['id']}}" required>
            <input name="oldtype" id="oldtype" type="hidden" value="{{tracker['type']}}" required>
        {% endif %}
    
    
        <br>
        <p><input class="btn btn-dark" id="submit" name="submit" type="submit" value="Submit"></p>
    
    </form>
 </div>

<script>

    window.onload = function(){

        theChoiceBlock = document.getElementById('tchoiceblock');
        theChoice_textArea = document.getElementById('tchoices');
        theChoiceBlock.style.display = 'none';
    
        selected_choice = document.getElementById('ttype');
        theChoiceBlock_duringEdit = document.getElementsByClassName('tce')
    
        if (selected_choice.value == 'ms'){
            theChoiceBlock.style.display = 'block';
            {% if edit_mode %}
            theChoiceBlock_duringEdit.style.display = 'block';
            {% endif %}
            theChoice_textArea.required = true;
        } else {
            theChoiceBlock.style.display = 'none';
            {% if edit_mode %}
            theChoiceBlock_duringEdit.style.display = 'none';
            {% endif %}
            theChoice_textArea.required = false;
        };
        
        selected_choice.onchange = function(){
            if (selected_choice.value == 'ms'){
                theChoiceBlock.style.display = 'block';
                {% if edit_mode %}
                theChoiceBlock_duringEdit.style.display = 'block';
                {% endif %}
                theChoice_textArea.required = true;
            } else {
                theChoiceBlock.style.display = 'none';
                {% if edit_mode %}
                theChoiceBlock_duringEdit.style.display = 'none';
                {% endif %}
                theChoice_textArea.required = false;
            };  
        };
    }
</script>